@import url("./fonts.css");

body {
  background-color: #FFFFFF;
  padding: 5em;
}

div {
  margin: auto;
}

h1 {
  font-family: 'Kaisei Decol', 'Roboto', sans-serif;
  font-size: 3em;
  margin: 2em;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  border: solid 0.01em;
  border-radius: 2em;
  padding: 1em;
  background-color: #FFFFFF;
}

input:hover {
  background-color: #F0F8FF;
}
